APP_ENV=local

POSTGRES_DB=news_flow
POSTGRES_USER=news_flow
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

RABBITMQ_USER=news_flow
RABBITMQ_PASSWORD=change_me
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_MANAGEMENT_PORT=15672

NEWS_VECTORIZATION_QUEUE=news_vectorization.jobs
MODEL_NAME_OR_PATH=/app/models/news-flow-ru-vectorization-mpnet/final
NGINX_PORT=80
