# Service
fastapi
uvicorn[standard]
pydantic-settings
aio-pika

# Database
SQLAlchemy
alembic
psycopg[binary]

# Data processing and ML
numpy
pandas
pyarrow
scikit-learn
datasets
sentence-transformers
accelerate
faiss-cpu
tqdm
jsonlines
